.container {
  flex-shrink: 1;
}

.container ul,
.container ol {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}

.container ul {
  list-style-type: disc;
}

.container ol {
  list-style-type: decimal;
}

.container p > a {
  text-decoration: underline;
  color: #0000ee;
}

.container iframe,
.container img{
  margin: 1rem auto !important;
  max-width: 100%;
}

.container p {
  margin-bottom: 1rem;
}

.twitter-tweet .twitter-tweet-rendered {
  margin-left: auto;
  margin-right: auto;
}

.container p:empty,
.container div:empty {
  display: none;
}
